.header {
  &__content {
    margin-top: var(--gap-40);
    gap: var(--gap-30);
    padding-bottom: var(--gap-20);
  }

  &__top {
    gap: var(--gap-20);
  }
  &__address {
    width: 100%;
    &-btn {
      &-text {
        margin-right: var(--gap-10);
        width: 100%;
      }

      &-svg {
        transition: transform .3s ease-in-out;
      }
    }

    &-list {
      margin-bottom: 30px;
    }

    &-block {
      max-height: 0;
      overflow: hidden;
      transition: max-height .3s ease-in-out;
    }

    &-wrap {
      padding-top: 30px;
    }

    &-search {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding: 40px 20px 20px;
      background-color: var(--white);
      z-index: 3;
      box-shadow: 0px 5px 15px 0px #00000026;
      border-bottom-left-radius: var(--radius-10);
      border-bottom-right-radius: var(--radius-10);
      opacity: 0;
      visibility: hidden;
      transform: translateY(-100vh);
      transition: opacity .3s ease-in-out, visibility .3s ease-in-out, transform .3s ease-in-out;

      &-input {
        @include input(10px 20px);
        margin-right: 20px;
      }

      &-btn {
        @include btnChevronRight;
        background-color: var(--orange);
        flex-shrink: 0;
      }

      &-list {
        margin-top: 30px;
      }

      &-item {
        &:not(:first-child) {
          padding-top: 20px;
        }

        &:not(:last-child) {
          padding-bottom: 20px;
          border-bottom: 1px solid var(--gray-border);
        }
      }
    }

    &-search.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &__address.is-show {
    .header__address-btn-svg {
      transform: rotate(-180deg);
    }
  }

  &__title {
    &-text {
      padding-right: 16px;
      position: relative;
      margin-right: 10px;
      &:before {
        content: "/";
        display: block;
        position: absolute;
        right: 0;
        font-size: var(--text-size-16);
        line-height: var(--text-height-121);
        font-weight: var(--text-semibold);
        color: var(--orange);
      }
    }
  }

  &__input {
    &-wrap {
      @include inputSearch;
    }
  }
}