.header {
  &__content {
    margin-top: var(--gap-40);
    gap: var(--gap-30);
    padding-bottom: var(--gap-20);
  }

  &__top {
    gap: var(--gap-20);
  }

  &__delivery {
    &-slash {
      margin: 0 10px;
    }

    &-btn {
      transition: font-weight .3s ease-in-out;
      cursor: pointer;
    }

    &-btn.active {
      font-weight: var(--text-semibold);
    }
  }
}