.main-stock {
  &__content {
    padding: var(--gap-20) 0;
  }

  &__title {
    margin-bottom: var(--gap-30);
    &-second {
      margin-bottom: var(--gap-20);
    }
  }

  &__box {
    gap: var(--gap-30);
  }
}