.stock {
  &__header {
    &-content {
      padding: var(--gap40) 0 var(--gap-10);
    }
  }

  &__content {
    padding: var(--gap-15) 0 var(--gap-20);
  }

  &__title {
    margin-bottom: var(--gap-30);
  }

  &__list {
    gap: var(--gap-30);
  }

  &__block {
    &:not(:last-child) {
      padding-bottom: var(--gap-30);
      border-bottom: 1px solid var(--gray-border);
    }

    &-title {
      margin-bottom: var(--gap-20);
    }

    &-descr {
      margin-bottom: var(--gap-20);
    }
  }
}