<section class="restaurant__menu">
  <div class="custom-container container-fluid">
    <div class="restaurant__menu-content">
      <h2 class="restaurant__menu-title text-18-bold">
        Полное <span class="text-orange">меню</span>
      </h2>
      <div class="restaurant__menu-box d-flex flex-column">
        <div class="restaurant__menu-block">
          <h3 class="restaurant__menu-block-title text-16-bold">Супы</h3>
          <div class="restaurant__menu-list">
            <a class="product-card-general restaurant__menu-item js-card">
              <div class="product-card-general-top">

                <div class="product-card-general-img"></div>
              </div>
              <div class="product-card-general-bottom">
                <div class="product-card-general-name">
                  Супер-пупер очень длинное название блюда
                </div>
                <div class="product-card-general-bottom-bottom">
                  <div class="product-card-general-info">
                      <span class="product-card-general-weight">
                        000 г
                      </span>
                    <span class="product-card-general-price">
                        0000 ₽
                      </span>
                  </div>
                  <div class="product-card-general-btns js-card-btns">
                    <button class="product-card-general-add js-card-add active btn-reset">
                      Взять по акции
                    </button>
                    <div class="product-card-general-counter js-card-counter">
                      <button class="btn-reset js-card-minus product-card-general-minus">
                        <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0.999878 1L10.9999 1" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </button>
                      <span class="product-card-general-num">1</span>
                      <button class="btn-reset js-card-plus product-card-general-plus">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 1V11" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M1 6L11 6" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a class="product-card-general restaurant__menu-item js-card">
              <div class="product-card-general-top">
                <div class="product-card-general-stock">
                  На компанию
                </div>
                <div class="product-card-general-img"></div>
              </div>
              <div class="product-card-general-bottom">
                <div class="product-card-general-name">
                  название блюда
                </div>
                <div class="product-card-general-bottom-bottom">
                  <div class="product-card-general-info">
                      <span class="product-card-general-weight">
                        000 г
                      </span>
                    <span class="product-card-general-price">
                        0000 ₽
                      </span>
                  </div>
                  <div class="product-card-general-btns js-card-btns">
                    <button class="product-card-general-add js-card-add active btn-reset">
                      Взять по акции
                    </button>
                    <div class="product-card-general-counter js-card-counter">
                      <button class="btn-reset js-card-minus product-card-general-minus">
                        <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0.999878 1L10.9999 1" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </button>
                      <span class="product-card-general-num">1</span>
                      <button class="btn-reset js-card-plus product-card-general-plus">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 1V11" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M1 6L11 6" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a class="product-card-general restaurant__menu-item js-card">
              <div class="product-card-general-top">
                <div class="product-card-general-stock">
                  На компанию
                </div>
                <div class="product-card-general-img"></div>
              </div>
              <div class="product-card-general-bottom">
                <div class="product-card-general-name">
                  Супер-пупер очень длинное название блюда
                </div>
                <div class="product-card-general-bottom-bottom">
                  <div class="product-card-general-info">
                      <span class="product-card-general-weight">
                        000 г
                      </span>
                    <span class="product-card-general-price">
                        0000 ₽
                      </span>
                  </div>
                  <div class="product-card-general-btns js-card-btns">
                    <button class="product-card-general-add js-card-add active btn-reset">
                      Взять по акции
                    </button>
                    <div class="product-card-general-counter js-card-counter">
                      <button class="btn-reset js-card-minus product-card-general-minus">
                        <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0.999878 1L10.9999 1" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </button>
                      <span class="product-card-general-num">1</span>
                      <button class="btn-reset js-card-plus product-card-general-plus">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 1V11" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M1 6L11 6" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a class="product-card-general restaurant__menu-item js-card">
              <div class="product-card-general-top">
                <div class="product-card-general-stock">
                  На компанию
                </div>
                <div class="product-card-general-img"></div>
              </div>
              <div class="product-card-general-bottom">
                <div class="product-card-general-name">
                  Супер-пупер очень длинное название блюда
                </div>
                <div class="product-card-general-bottom-bottom">
                  <div class="product-card-general-info">
                      <span class="product-card-general-weight">
                        000 г
                      </span>
                    <span class="product-card-general-price">
                        0000 ₽
                      </span>
                  </div>
                  <div class="product-card-general-btns js-card-btns">
                    <button class="product-card-general-add js-card-add active btn-reset">
                      Взять по акции
                    </button>
                    <div class="product-card-general-counter js-card-counter">
                      <button class="btn-reset js-card-minus product-card-general-minus">
                        <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0.999878 1L10.9999 1" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </button>
                      <span class="product-card-general-num">1</span>
                      <button class="btn-reset js-card-plus product-card-general-plus">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 1V11" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M1 6L11 6" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="restaurant__menu-block">
          <h3 class="restaurant__menu-block-title text-16-bold">Поке</h3>
          <div class="restaurant__menu-list">
            <a class="product-card-general restaurant__menu-item js-card">
              <div class="product-card-general-top">

                <div class="product-card-general-img"></div>
              </div>
              <div class="product-card-general-bottom">
                <div class="product-card-general-name">
                  Супер-пупер очень длинное название блюда
                </div>
                <div class="product-card-general-bottom-bottom">
                  <div class="product-card-general-info">
                      <span class="product-card-general-weight">
                        000 г
                      </span>
                    <span class="product-card-general-price">
                        0000 ₽
                      </span>
                  </div>
                  <div class="product-card-general-btns js-card-btns">
                    <button class="product-card-general-add js-card-add active btn-reset">
                      Взять по акции
                    </button>
                    <div class="product-card-general-counter js-card-counter">
                      <button class="btn-reset js-card-minus product-card-general-minus">
                        <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0.999878 1L10.9999 1" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </button>
                      <span class="product-card-general-num">1</span>
                      <button class="btn-reset js-card-plus product-card-general-plus">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 1V11" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M1 6L11 6" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a class="product-card-general restaurant__menu-item js-card">
              <div class="product-card-general-top">
                <div class="product-card-general-stock">
                  На компанию
                </div>
                <div class="product-card-general-img"></div>
              </div>
              <div class="product-card-general-bottom">
                <div class="product-card-general-name">
                  название блюда
                </div>
                <div class="product-card-general-bottom-bottom">
                  <div class="product-card-general-info">
                      <span class="product-card-general-weight">
                        000 г
                      </span>
                    <span class="product-card-general-price">
                        0000 ₽
                      </span>
                  </div>
                  <div class="product-card-general-btns js-card-btns">
                    <button class="product-card-general-add js-card-add active btn-reset">
                      Взять по акции
                    </button>
                    <div class="product-card-general-counter js-card-counter">
                      <button class="btn-reset js-card-minus product-card-general-minus">
                        <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0.999878 1L10.9999 1" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </button>
                      <span class="product-card-general-num">1</span>
                      <button class="btn-reset js-card-plus product-card-general-plus">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 1V11" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M1 6L11 6" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a class="product-card-general restaurant__menu-item js-card">
              <div class="product-card-general-top">
                <div class="product-card-general-stock">
                  На компанию
                </div>
                <div class="product-card-general-img"></div>
              </div>
              <div class="product-card-general-bottom">
                <div class="product-card-general-name">
                  Супер-пупер очень длинное название блюда
                </div>
                <div class="product-card-general-bottom-bottom">
                  <div class="product-card-general-info">
                      <span class="product-card-general-weight">
                        000 г
                      </span>
                    <span class="product-card-general-price">
                        0000 ₽
                      </span>
                  </div>
                  <div class="product-card-general-btns js-card-btns">
                    <button class="product-card-general-add js-card-add active btn-reset">
                      Взять по акции
                    </button>
                    <div class="product-card-general-counter js-card-counter">
                      <button class="btn-reset js-card-minus product-card-general-minus">
                        <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0.999878 1L10.9999 1" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </button>
                      <span class="product-card-general-num">1</span>
                      <button class="btn-reset js-card-plus product-card-general-plus">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 1V11" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M1 6L11 6" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a class="product-card-general restaurant__menu-item js-card">
              <div class="product-card-general-top">
                <div class="product-card-general-stock">
                  На компанию
                </div>
                <div class="product-card-general-img"></div>
              </div>
              <div class="product-card-general-bottom">
                <div class="product-card-general-name">
                  Супер-пупер очень длинное название блюда
                </div>
                <div class="product-card-general-bottom-bottom">
                  <div class="product-card-general-info">
                      <span class="product-card-general-weight">
                        000 г
                      </span>
                    <span class="product-card-general-price">
                        0000 ₽
                      </span>
                  </div>
                  <div class="product-card-general-btns js-card-btns">
                    <button class="product-card-general-add js-card-add active btn-reset">
                      Взять по акции
                    </button>
                    <div class="product-card-general-counter js-card-counter">
                      <button class="btn-reset js-card-minus product-card-general-minus">
                        <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0.999878 1L10.9999 1" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </button>
                      <span class="product-card-general-num">1</span>
                      <button class="btn-reset js-card-plus product-card-general-plus">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 1V11" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M1 6L11 6" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="restaurant__menu-block">
          <h3 class="restaurant__menu-block-title text-16-bold">Супы</h3>
          <div class="restaurant__menu-list">
            <a class="product-card-general restaurant__menu-item js-card">
              <div class="product-card-general-top">

                <div class="product-card-general-img"></div>
              </div>
              <div class="product-card-general-bottom">
                <div class="product-card-general-name">
                  Супер-пупер очень длинное название блюда
                </div>
                <div class="product-card-general-bottom-bottom">
                  <div class="product-card-general-info">
                      <span class="product-card-general-weight">
                        000 г
                      </span>
                    <span class="product-card-general-price">
                        0000 ₽
                      </span>
                  </div>
                  <div class="product-card-general-btns js-card-btns">
                    <button class="product-card-general-add js-card-add active btn-reset">
                      Взять по акции
                    </button>
                    <div class="product-card-general-counter js-card-counter">
                      <button class="btn-reset js-card-minus product-card-general-minus">
                        <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0.999878 1L10.9999 1" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </button>
                      <span class="product-card-general-num">1</span>
                      <button class="btn-reset js-card-plus product-card-general-plus">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 1V11" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M1 6L11 6" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a class="product-card-general restaurant__menu-item js-card">
              <div class="product-card-general-top">
                <div class="product-card-general-stock">
                  На компанию
                </div>
                <div class="product-card-general-img"></div>
              </div>
              <div class="product-card-general-bottom">
                <div class="product-card-general-name">
                  название блюда
                </div>
                <div class="product-card-general-bottom-bottom">
                  <div class="product-card-general-info">
                      <span class="product-card-general-weight">
                        000 г
                      </span>
                    <span class="product-card-general-price">
                        0000 ₽
                      </span>
                  </div>
                  <div class="product-card-general-btns js-card-btns">
                    <button class="product-card-general-add js-card-add active btn-reset">
                      Взять по акции
                    </button>
                    <div class="product-card-general-counter js-card-counter">
                      <button class="btn-reset js-card-minus product-card-general-minus">
                        <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0.999878 1L10.9999 1" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </button>
                      <span class="product-card-general-num">1</span>
                      <button class="btn-reset js-card-plus product-card-general-plus">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 1V11" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M1 6L11 6" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a class="product-card-general restaurant__menu-item js-card">
              <div class="product-card-general-top">
                <div class="product-card-general-stock">
                  На компанию
                </div>
                <div class="product-card-general-img"></div>
              </div>
              <div class="product-card-general-bottom">
                <div class="product-card-general-name">
                  Супер-пупер очень длинное название блюда
                </div>
                <div class="product-card-general-bottom-bottom">
                  <div class="product-card-general-info">
                      <span class="product-card-general-weight">
                        000 г
                      </span>
                    <span class="product-card-general-price">
                        0000 ₽
                      </span>
                  </div>
                  <div class="product-card-general-btns js-card-btns">
                    <button class="product-card-general-add js-card-add active btn-reset">
                      Взять по акции
                    </button>
                    <div class="product-card-general-counter js-card-counter">
                      <button class="btn-reset js-card-minus product-card-general-minus">
                        <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0.999878 1L10.9999 1" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </button>
                      <span class="product-card-general-num">1</span>
                      <button class="btn-reset js-card-plus product-card-general-plus">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 1V11" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M1 6L11 6" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a class="product-card-general restaurant__menu-item js-card">
              <div class="product-card-general-top">
                <div class="product-card-general-stock">
                  На компанию
                </div>
                <div class="product-card-general-img"></div>
              </div>
              <div class="product-card-general-bottom">
                <div class="product-card-general-name">
                  Супер-пупер очень длинное название блюда
                </div>
                <div class="product-card-general-bottom-bottom">
                  <div class="product-card-general-info">
                      <span class="product-card-general-weight">
                        000 г
                      </span>
                    <span class="product-card-general-price">
                        0000 ₽
                      </span>
                  </div>
                  <div class="product-card-general-btns js-card-btns">
                    <button class="product-card-general-add js-card-add active btn-reset">
                      Взять по акции
                    </button>
                    <div class="product-card-general-counter js-card-counter">
                      <button class="btn-reset js-card-minus product-card-general-minus">
                        <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0.999878 1L10.9999 1" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </button>
                      <span class="product-card-general-num">1</span>
                      <button class="btn-reset js-card-plus product-card-general-plus">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 1V11" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M1 6L11 6" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>