.order {
  &__header {
    &-content {
      padding: var(--gap-40) 0 var(--gap-10);
    }

    &-title {
      margin-bottom: var(--gap-5);
    }
  }

  &__info {
    &-content {
      padding: var(--gap-10) 0 var(--gap-20);
    }

    &-list {
      gap: var(--gap-15);
    }

    &-block {
      &:not(:last-child) {
        padding-bottom: var(--gap-15);
        border-bottom: 1px solid var(--gray-border);
      }
    }

    &-restaurant {
      &-top {
        gap: var(--gap-10);
        margin-bottom: var(--gap-10);
      }
    }

    &-time {
      gap: var(--gap-10);
    }

    &-street {
      gap: var(--gap-10);
    }

    &-pay {
      gap: var(--gap-10);
    }
  }

  &__goods {
    &-content {
      padding: var(--gap-20) 0;
    }

    &-title {
      margin-bottom: var(--gap-20);
    }

    &-list {
      gap: var(--gap-15);
    }

    &-item {
      @include cardSelected;
      &:not(:last-child) {
        padding-bottom: var(--gap-15);
        border-bottom: 1px solid var(--gray-border);
      }
    }
  }
}