.account {
  &__header {
    &-content {
      padding: var(--gap-40) 0 var(--gap-15);
    }
  }

  &__info {
    &-content {
      padding: var(--gap-15) 0 var(--gap-20);
      gap: var(--gap-15);
    }

    &-block {
      gap: var(--gap-15);
      position: relative;
    }

    &-left {
      gap: var(--gap-5);
    }

    &-name {
      z-index: 2;
      &-wrap {
        gap: var(--gap-10);
      }
    }

    &-right {
      white-space: nowrap;
      gap: var(--gap-5);
    }

    &-modal {
      position: absolute;
      background-color: var(--white);
      border-radius: var(--radius-10);
      left: -20px;
      right: -20px;
      z-index: 1;
      top: -5px;
      padding: 40px 20px 20px;
      box-shadow: 0px 5px 15px 0px #00000026;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--gap-20);
      opacity: 0;
      visibility: hidden;
      transform: scale(.7);
      transition: opacity .3s ease-in-out, visibility .3s ease-in-out, transform .3s ease-in-out;

      &-input {
        @include input(10px);
        text-align: center;
      }

      &-btn {
        @include btnChevronRight;
        background-color: var(--orange);
        flex-shrink: 0;
      }
    }

    &-modal.active {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }

  &__address {
    &-content {
      padding: var(--gap-20) 0;
    }

    &-title {
      margin-bottom: var(--gap-20);
    }

    &-list {
      margin-bottom: var(--gap-30);
    }

    &-block {
      &-wrap {
        padding: 0;
      }
    }
  }

  &__history {
    &-content {
      padding: var(--gap-20) 0;
    }

    &-title {
      margin-bottom: var(--gap-20);
    }

    &-item {
      &:not(:last-child) {
        padding-bottom: var(--gap-15);
        border-bottom: 1px solid var(--gray-border);
        margin-bottom: var(--gap-15);
      }
    }

    &-link {
      gap: var(--gap-10);
    }

    &-info {
      gap: var(--gap-5);
    }

    &-bottom {
      padding-top: var(--gap-15);
    }

    &-show {
      &-text {
        margin-right: 10px;
      }
    }
  }
}