<section class="order__goods">
  <div class="container-fluid custom-container">
    <div class="order__goods-content">
      <h2 class="order__goods-title text-h2 text-orange">
        Вы заказывали
      </h2>
      <div class="order__goods-list d-flex flex-column">
        <div class="order__goods-item">
          <div class="order__goods-item-img"></div>
          <div class="order__goods-item-info">
            <h3 class="order__goods-item-title">
              Супер-пупер длинное название блюда
            </h3>
            <div class="order__goods-item-info-mid">
              <span class="order__goods-item-weight">000 г</span>
            </div>
            <div class="order__goods-item-info-bottom">
              <span class="order__goods-item-count">1 шт.</span>
              <span class="order__goods-item-price">0000 ₽</span>
            </div>
          </div>

        </div>
        <div class="order__goods-item">
          <div class="order__goods-item-img"></div>
          <div class="order__goods-item-info">
            <h3 class="order__goods-item-title">
              Супер-пупер длинное название блюда
            </h3>
            <div class="order__goods-item-info-mid">
              <span class="order__goods-item-weight">000 г</span>
            </div>
            <div class="order__goods-item-info-bottom">
              <span class="order__goods-item-count">1 шт.</span>
              <span class="order__goods-item-price">0000 ₽</span>
            </div>
          </div>

        </div>
        <div class="order__goods-item">
          <div class="order__goods-item-img"></div>
          <div class="order__goods-item-info">
            <h3 class="order__goods-item-title">
              Супер-пупер длинное название блюда
            </h3>
            <div class="order__goods-item-info-mid">
              <span class="order__goods-item-weight">000 г</span>
            </div>
            <div class="order__goods-item-info-bottom">
              <span class="order__goods-item-count">1 шт.</span>
              <span class="order__goods-item-price">0000 ₽</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>