<section class="order__info">
  <div class="custom-container container-fluid">
    <div class="order__info-content">
      <div class="order__info-list d-flex flex-column">
        <div class="order__info-block">
          <div class="order__info-restaurant">
            <div class="order__info-restaurant-top d-flex align-items-start justify-content-between">
              <div class="order__info-restaurant-name text-16-bold text-orange">
                Длинное название ресторана
              </div>
              <div class="order__info-restaurant-price flex-shrink-0 text-16-medium text-gray-dark">
                0000 ₽
              </div>
            </div>
            <div class="order__info-restaurant-bottom d-flex align-items-center justify-content-between">
              <span class="order__info-restaurant-descr text-12 text-gray-secondary">
                Ресторан
              </span>
              <span class="order__info-restaurant-descr text-12 text-gray-secondary">
                Сумма заказа
              </span>
            </div>
          </div>
        </div>
        <div class="order__info-block">
          <div class="order__info-time d-flex flex-column">
            <p class="order__info-time-top text-14-medium">
              00.00.00 в 00:00
            </p>
            <span class="order__info-time-bottom text-12 text-gray-secondary">
              Дата и время заказа
            </span>
          </div>
        </div>
        <div class="order__info-block">
          <div class="order__info-street d-flex flex-column">
            <p class="order__info-street-top text-14-medium">
              Названиеулицы, 000, подъезд 0, кв. 000
            </p>
            <span class="order__info-street-bottom text-12 text-gray-secondary">
              Адрес доставки
            </span>
          </div>
        </div>
        <div class="order__info-block">
          <div class="order__info-pay d-flex flex-column">
            <p class="order__info-pay-top text-14-medium">
              Наличными при получении заказа
            </p>
            <span class="order__info-pay-bottom text-12 text-gray-secondary">
              Способ оплаты
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>