<section class="account__address">
  <div class="custom-container container-fluid">
    <div class="account__address-content">
      <h2 class="account__address-title text-16-bold text-orange">
        Ваши адреса
      </h2>
      <div class="account__address-block">
        <div class="address-block-wrap account__address-block-wrap">
          <div class="address-block-list d-flex flex-column">
            <label class="address__label">
              <input type="radio" name="address" class="address__input">
              <span class="address__radio"></span>
              <span class="address__text text-16">
                Пенза, Комсомольская, 192
              </span>
            </label>
            <label class="address__label">
              <input type="radio" name="address" class="address__input">
              <span class="address__radio"></span>
              <span class="address__text text-16">
                Пенза, Мира, 1
              </span>
            </label>
            <label class="address__label">
              <input type="radio" name="address" class="address__input">
              <span class="address__radio"></span>
              <span class="address__text text-16">
                Пенза, Ленина, 5
              </span>
            </label>
          </div>
          <button class="address-block-add second-btn btn-reset">
            Добавить новый адрес
          </button>
        </div>
      </div>
    </div>
  </div>
</section>