<section class="account__history">
  <div class="container-fluid custom-container">
    <div class="account__history-content">
      <h2 class="account__history-title text-16-bold text-orange">
        История заказов
      </h2>
      <div class="account__history-block">
        <ul class="account__history-list list-reset">
          <li class="account__history-item">
            <a href="order.html" class="account__history-link d-flex flex-column">
              <div class="account__history-item-top d-flex align-items-center justify-content-between">
                <div class="account__history-item-left text-14-bold">
                  00 месяц 2000
                </div>
                <div class="account__history-item-right text-14-bold">
                  000 ₽
                </div>
              </div>
              <div class="account__history-info d-flex flex-column">
                <p class="account__history-desc text-14">
                  Очень длинное название ресторана
                </p>
                <p class="account__history-desc text-14">
                  Заказ №12345678
                </p>
                <p class="account__history-desc text-14">
                  Улица, 000
                </p>
              </div>

            </a>
          </li>
          <li class="account__history-item">
            <a href="order.html" class="account__history-link d-flex flex-column">
              <div class="account__history-item-top d-flex align-items-center justify-content-between">
                <div class="account__history-item-left text-14-bold">
                  00 месяц 2000
                </div>
                <div class="account__history-item-right text-14-bold">
                  000 ₽
                </div>
              </div>
              <div class="account__history-info d-flex flex-column">
                <p class="account__history-desc text-14">
                  Очень длинное название ресторана
                </p>
                <p class="account__history-desc text-14">
                  Заказ №12345678
                </p>
                <p class="account__history-desc text-14">
                  Улица, 000
                </p>
              </div>

            </a>
          </li>
          <li class="account__history-item">
            <a href="order.html" class="account__history-link d-flex flex-column">
              <div class="account__history-item-top d-flex align-items-center justify-content-between">
                <div class="account__history-item-left text-14-bold">
                  00 месяц 2000
                </div>
                <div class="account__history-item-right text-14-bold">
                  000 ₽
                </div>
              </div>
              <div class="account__history-info d-flex flex-column">
                <p class="account__history-desc text-14">
                  Очень длинное название ресторана
                </p>
                <p class="account__history-desc text-14">
                  Заказ №12345678
                </p>
                <p class="account__history-desc text-14">
                  Улица, 000
                </p>
              </div>

            </a>
          </li>
        </ul>
      </div>
      <div class="account__history-bottom d-flex justify-content-end">
        <button class="account__history-show btn-reset d-flex align-items-center">
          <span class="account__history-show-text text-14">
            Показать все заказы
          </span>
          <span class="account__history-show-svg">
            <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15 1.5L8 8.5L1 1.5" stroke="#FF6B00" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>