<section class="account__info">
  <div class="custom-container container-fluid">
    <div class="account__info-content d-flex justify-content-between">
      <div class="account__info-left d-flex flex-column">
        <div class="account__info-name text-16-bold text-orange">
          Абдурахмангаджи
        </div>
        <div class="account__info-tel text-14">
          +7 (000) 000-00-00
        </div>
      </div>
      <div class="account__info-right d-flex flex-column align-items-end">
        <div class="account__info-points text-16-bold text-orange">
          0000
        </div>
        <div class="account__info-tel text-14">
          бонусных балла
        </div>
      </div>
    </div>
  </div>
</section>