<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Eatrest</title>

  <link rel="stylesheet" href="./bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="./swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="./css/main.css">

  <script defer src="./bootstrap/bootstrap.bundle.min.js"></script>
  <script defer src="./swiper/swiper-bundle.min.js"></script>
  <script defer src="./swipe/swiped-events.min.js"></script>
  <script defer src="./js/main.js"></script>
</head>
