<section class="product__additional">
  <div class="custom-container container-fluid">
    <div class="product__additional-content">
      <div class="product__additional-box d-flex flex-column">
        <div class="product__additional-block">
          <h2 class="product__additional-title text-16-bold text-orange">
            Дополните блюдо по вкусу
          </h2>
          <div class="product__additional-swiper js-swiper-init swiper">
            <div class="swiper-wrapper">
              <a class="product-card-mini js-card swiper-slide">
                <div class="product-card-mini-top">
                  <div class="product-card-mini-img"></div>
                </div>
                <div class="product-card-mini-bottom">
                  <div class="product-card-mini-name">
                    Супер-пупер очень длинное название блюда
                  </div>
                  <div class="product-card-mini-bottom-bottom">
                    <div class="product-card-mini-info">
                      <span class="product-card-mini-weight">
                        000 г
                      </span>
                      <span class="product-card-mini-price">
                        0000 ₽
                      </span>
                    </div>
                    <div class="product-card-mini-btns js-card-btns">
                      <button class="product-card-mini-add js-card-add active btn-reset">
                        Взять по акции
                      </button>
                      <div class="product-card-mini-counter js-card-counter">
                        <button class="btn-reset js-card-minus product-card-mini-minus">
                          <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.999878 1L10.9999 1" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </button>
                        <span class="product-card-mini-num">1</span>
                        <button class="btn-reset js-card-plus product-card-mini-plus">
                          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 1V11" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M1 6L11 6" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <a class="product-card-mini js-card swiper-slide">
                <div class="product-card-mini-top">
                  <div class="product-card-mini-img"></div>
                </div>
                <div class="product-card-mini-bottom">
                  <div class="product-card-mini-name">
                    Супер-пупер очень длинное название блюда
                  </div>
                  <div class="product-card-mini-bottom-bottom">
                    <div class="product-card-mini-info">
                      <span class="product-card-mini-weight">
                        000 г
                      </span>
                      <span class="product-card-mini-price">
                        0000 ₽
                      </span>
                    </div>
                    <div class="product-card-mini-btns js-card-btns">
                      <button class="product-card-mini-add js-card-add active btn-reset">
                        Взять по акции
                      </button>
                      <div class="product-card-mini-counter js-card-counter">
                        <button class="btn-reset js-card-minus product-card-mini-minus">
                          <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.999878 1L10.9999 1" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </button>
                        <span class="product-card-mini-num">1</span>
                        <button class="btn-reset js-card-plus product-card-mini-plus">
                          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 1V11" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M1 6L11 6" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <a class="product-card-mini js-card swiper-slide">
                <div class="product-card-mini-top">
                  <div class="product-card-mini-img"></div>
                </div>
                <div class="product-card-mini-bottom">
                  <div class="product-card-mini-name">
                    Супер-пупер очень длинное название блюда
                  </div>
                  <div class="product-card-mini-bottom-bottom">
                    <div class="product-card-mini-info">
                      <span class="product-card-mini-weight">
                        000 г
                      </span>
                      <span class="product-card-mini-price">
                        0000 ₽
                      </span>
                    </div>
                    <div class="product-card-mini-btns js-card-btns">
                      <button class="product-card-mini-add js-card-add active btn-reset">
                        Взять по акции
                      </button>
                      <div class="product-card-mini-counter js-card-counter">
                        <button class="btn-reset js-card-minus product-card-mini-minus">
                          <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.999878 1L10.9999 1" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </button>
                        <span class="product-card-mini-num">1</span>
                        <button class="btn-reset js-card-plus product-card-mini-plus">
                          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 1V11" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M1 6L11 6" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <a class="product-card-mini js-card swiper-slide">
                <div class="product-card-mini-top">
                  <div class="product-card-mini-img"></div>
                </div>
                <div class="product-card-mini-bottom">
                  <div class="product-card-mini-name">
                    Супер-пупер очень длинное название блюда
                  </div>
                  <div class="product-card-mini-bottom-bottom">
                    <div class="product-card-mini-info">
                      <span class="product-card-mini-weight">
                        000 г
                      </span>
                      <span class="product-card-mini-price">
                        0000 ₽
                      </span>
                    </div>
                    <div class="product-card-mini-btns js-card-btns">
                      <button class="product-card-mini-add js-card-add active btn-reset">
                        Взять по акции
                      </button>
                      <div class="product-card-mini-counter js-card-counter">
                        <button class="btn-reset js-card-minus product-card-mini-minus">
                          <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.999878 1L10.9999 1" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </button>
                        <span class="product-card-mini-num">1</span>
                        <button class="btn-reset js-card-plus product-card-mini-plus">
                          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 1V11" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M1 6L11 6" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="product__additional-block">
          <h2 class="product__additional-title text-16-bold text-orange">
            Рекомендуем добавить к заказу
          </h2>
          <div class="product__additional-swiper js-swiper-init swiper">
            <div class="swiper-wrapper">
              <a class="product-card-mini js-card swiper-slide">
                <div class="product-card-mini-top">
                  <div class="product-card-mini-img"></div>
                </div>
                <div class="product-card-mini-bottom">
                  <div class="product-card-mini-name">
                    Супер-пупер очень длинное название блюда
                  </div>
                  <div class="product-card-mini-bottom-bottom">
                    <div class="product-card-mini-info">
                      <span class="product-card-mini-weight">
                        000 г
                      </span>
                      <span class="product-card-mini-price">
                        0000 ₽
                      </span>
                    </div>
                    <div class="product-card-mini-btns js-card-btns">
                      <button class="product-card-mini-add js-card-add active btn-reset">
                        Взять по акции
                      </button>
                      <div class="product-card-mini-counter js-card-counter">
                        <button class="btn-reset js-card-minus product-card-mini-minus">
                          <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.999878 1L10.9999 1" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </button>
                        <span class="product-card-mini-num">1</span>
                        <button class="btn-reset js-card-plus product-card-mini-plus">
                          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 1V11" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M1 6L11 6" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <a class="product-card-mini js-card swiper-slide">
                <div class="product-card-mini-top">
                  <div class="product-card-mini-img"></div>
                </div>
                <div class="product-card-mini-bottom">
                  <div class="product-card-mini-name">
                    Супер-пупер очень длинное название блюда
                  </div>
                  <div class="product-card-mini-bottom-bottom">
                    <div class="product-card-mini-info">
                      <span class="product-card-mini-weight">
                        000 г
                      </span>
                      <span class="product-card-mini-price">
                        0000 ₽
                      </span>
                    </div>
                    <div class="product-card-mini-btns js-card-btns">
                      <button class="product-card-mini-add js-card-add active btn-reset">
                        Взять по акции
                      </button>
                      <div class="product-card-mini-counter js-card-counter">
                        <button class="btn-reset js-card-minus product-card-mini-minus">
                          <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.999878 1L10.9999 1" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </button>
                        <span class="product-card-mini-num">1</span>
                        <button class="btn-reset js-card-plus product-card-mini-plus">
                          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 1V11" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M1 6L11 6" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <a class="product-card-mini js-card swiper-slide">
                <div class="product-card-mini-top">
                  <div class="product-card-mini-img"></div>
                </div>
                <div class="product-card-mini-bottom">
                  <div class="product-card-mini-name">
                    Супер-пупер очень длинное название блюда
                  </div>
                  <div class="product-card-mini-bottom-bottom">
                    <div class="product-card-mini-info">
                      <span class="product-card-mini-weight">
                        000 г
                      </span>
                      <span class="product-card-mini-price">
                        0000 ₽
                      </span>
                    </div>
                    <div class="product-card-mini-btns js-card-btns">
                      <button class="product-card-mini-add js-card-add active btn-reset">
                        Взять по акции
                      </button>
                      <div class="product-card-mini-counter js-card-counter">
                        <button class="btn-reset js-card-minus product-card-mini-minus">
                          <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.999878 1L10.9999 1" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </button>
                        <span class="product-card-mini-num">1</span>
                        <button class="btn-reset js-card-plus product-card-mini-plus">
                          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 1V11" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M1 6L11 6" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <a class="product-card-mini js-card swiper-slide">
                <div class="product-card-mini-top">
                  <div class="product-card-mini-img"></div>
                </div>
                <div class="product-card-mini-bottom">
                  <div class="product-card-mini-name">
                    Супер-пупер очень длинное название блюда
                  </div>
                  <div class="product-card-mini-bottom-bottom">
                    <div class="product-card-mini-info">
                      <span class="product-card-mini-weight">
                        000 г
                      </span>
                      <span class="product-card-mini-price">
                        0000 ₽
                      </span>
                    </div>
                    <div class="product-card-mini-btns js-card-btns">
                      <button class="product-card-mini-add js-card-add active btn-reset">
                        Взять по акции
                      </button>
                      <div class="product-card-mini-counter js-card-counter">
                        <button class="btn-reset js-card-minus product-card-mini-minus">
                          <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.999878 1L10.9999 1" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </button>
                        <span class="product-card-mini-num">1</span>
                        <button class="btn-reset js-card-plus product-card-mini-plus">
                          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 1V11" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M1 6L11 6" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>