<section class="product__top">
  <div class="container-fluid custom-container">
    <div class="product__top-content">
      <div class="product__top-swiper swiper">
        <div class="swiper-wrapper">
          <div class="product__top-slide swiper-slide">
          </div>
          <div class="product__top-slide swiper-slide">
          </div>
          <div class="product__top-slide swiper-slide">
            <img src="./img/img.png">
          </div>
          <div class="product__top-slide swiper-slide">
          </div>
        </div>
      </div>
      <div class="product__top-info">
        <div class="product__top-info-top d-flex align-items-start justify-content-between">
          <h1 class="product__top-info-name text-18-bold">
            Очень длинное название блюда
          </h1>
          <span class="product__top-info-price text-16-bold">
            0000 ₽
          </span>
        </div>
        <span class="product__top-info-weight text-14">
          000 г
        </span>
      </div>
      <div class="product__top-compound">
        <h2 class="product__top-compound-title text-16-bold">
          Состав
        </h2>
        <p class="product__top-compound-descr text-14">
          Блюдо из свежего лосося, порезанного на кубики, а также риса для суши. Для добавления мягкости в блюде используется авокадо и огурцы, нарезанные на кусочки. Маринованный имбирь добавляет особый вкус и аромат. Соевый и спайси соусы отлично дополняют вкусовую гармонию блюда. Кунжутные семечки добавляют хрустящий элемент, а зеленый лук придает свежесть.
        </p>
      </div>
      <div class="product__top-value">
        <h2 class="product__top-value-title text-16-bold">
          КБЖУ в 100 граммах
        </h2>
        <ul class="product__top-value-list list-reset d-flex align-items-center justify-content-between flex-wrap">
          <li class="product__top-value-item d-flex flex-column">
            <span class="product__top-value-item-num text-14-medium">
              256,3
            </span>
            <span class="product__top-value-item-text text-12">
              Ккал
            </span>
          </li>
          <li class="product__top-value-item d-flex flex-column">
            <span class="product__top-value-item-num text-14-medium">
              16,2
            </span>
            <span class="product__top-value-item-text text-12">
              Белки
            </span>
          </li>
          <li class="product__top-value-item d-flex flex-column">
            <span class="product__top-value-item-num text-14-medium">
              124,4
            </span>
            <span class="product__top-value-item-text text-12">
              Жиры
            </span>
          </li>
          <li class="product__top-value-item d-flex flex-column">
            <span class="product__top-value-item-num text-14-medium">
              5,3
            </span>
            <span class="product__top-value-item-text text-12">
              Углеводы
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>