<section class="product__top">
  <div class="container-fluid custom-container">
    <div class="product__top-content">
      <div class="product__top-swiper swiper">
        <div class="swiper-wrapper">
          <div class="product__top-slide swiper-slide">
          </div>
          <div class="product__top-slide swiper-slide">
          </div>
          <div class="product__top-slide swiper-slide">
            <img src="./img/img.png">
          </div>
          <div class="product__top-slide swiper-slide">
          </div>
        </div>
      </div>
      <div class="product__top-info">
        <div class="product__top-info-top d-flex align-items-start justify-content-between">
          <h1 class="product__top-info-name text-18-bold">
            Очень длинное название блюда
          </h1>
          <span class="product__top-info-price text-16-bold">
            0000 ₽
          </span>
        </div>
        <span class="product__top-info-weight text-14">
          000 г
        </span>
      </div>
      <div class="product__top-compound">
        <h2 class="product__top-compound-title text-16-bold">
          Состав
        </h2>
        <p class="product__top-compound-descr text-14">
          Блюдо из свежего лосося, порезанного на кубики, а также риса для суши. Для добавления мягкости в блюде используется авокадо и огурцы, нарезанные на кусочки. Маринованный имбирь добавляет особый вкус и аромат. Соевый и спайси соусы отлично дополняют вкусовую гармонию блюда. Кунжутные семечки добавляют хрустящий элемент, а зеленый лук придает свежесть.
        </p>

        <div class="product__top-btns">
          <button class="product__top-add main-btn btn-reset">
            Добавить в корзину
          </button>
          <div class="product__top-counter">
            <button class="btn-reset product__top-counter-minus">
              <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.999878 1L10.9999 1" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
            <span class="product__top-counter-num">1</span>
            <button class="btn-reset product__top-counter-plus">
              <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 1V11" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M1 6L11 6" stroke="#4F4F4F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="product__top-value">
        <h2 class="product__top-value-title text-16-bold">
          КБЖУ в 100 граммах
        </h2>
        <ul class="product__top-value-list list-reset d-flex align-items-center justify-content-between flex-wrap">
          <li class="product__top-value-item d-flex flex-column">
            <span class="product__top-value-item-num text-14-medium">
              256,3
            </span>
            <span class="product__top-value-item-text text-12">
              Ккал
            </span>
          </li>
          <li class="product__top-value-item d-flex flex-column">
            <span class="product__top-value-item-num text-14-medium">
              16,2
            </span>
            <span class="product__top-value-item-text text-12">
              Белки
            </span>
          </li>
          <li class="product__top-value-item d-flex flex-column">
            <span class="product__top-value-item-num text-14-medium">
              124,4
            </span>
            <span class="product__top-value-item-text text-12">
              Жиры
            </span>
          </li>
          <li class="product__top-value-item d-flex flex-column">
            <span class="product__top-value-item-num text-14-medium">
              5,3
            </span>
            <span class="product__top-value-item-text text-12">
              Углеводы
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>