<div class="filter__wrap">
  <div class="filter">
    <div class="custom-container container-fluid">
      <div class="filter__touch">
        <div class="filter__touch-strip"></div>
      </div>
      <div class="filter__content">
        <div class="filter__box d-flex flex-wrap">
          <label class="checkbox-btn">
            <input type="checkbox">
            <span>Кухня</span>
          </label>
          <label class="checkbox-btn">
            <input type="checkbox">
            <span>Блюдооо</span>
          </label>
          <label class="checkbox-btn">
            <input type="checkbox">
            <span>Кухня</span>
          </label>
          <label class="checkbox-btn">
            <input type="checkbox">
            <span>Блюдооо</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>