<div class="filter__wrap">
  <div class="filter">
    <div class="custom-container container-fluid">
      <div class="filter__touch">
        <div class="filter__touch-strip"></div>
      </div>
      <div class="filter__content">
        <div class="filter__box d-flex flex-wrap">
          <button class="filter__btn btn-reset active">Рекомендуем</button>
          <button class="filter__btn btn-reset">Новые рестораны</button>
          <button class="filter__btn btn-reset">Есть акции</button>
          <button class="filter__btn btn-reset">Еще какой-нибудь фильтр</button>
        </div>
      </div>
    </div>
  </div>
</div>