<div class="sorting__wrap">
  <div class="sorting">
    <div class="custom-container container-fluid">
      <div class="sorting__touch">
        <div class="sorting__touch-strip"></div>
      </div>
      <div class="sorting__content">
        <div class="sorting__box">
          <div class="sorting__block">
            <label class="sorting__label">
              <input type="radio" name="По умолчанию" class="sorting__input">
              <span class="sorting__radio"></span>
              <span class="sorting__text text-16-bold">
                По умолчанию
              </span>
            </label>
            </div>
          <div class="sorting__block">
            <h3 class="sorting__block-title text-16-bold">По рейтингу</h3>
            <div class="sorting__block-list d-flex flex-column">
              <label class="sorting__label">
                <input type="radio" name="rating" class="sorting__input">
                <span class="sorting__radio"></span>
                <span class="sorting__text text-16">
                  Сначала с высоким рейтингом
                </span>
              </label>
              <label class="sorting__label">
                <input type="radio" name="rating" class="sorting__input">
                <span class="sorting__radio"></span>
                <span class="sorting__text text-16">
                  Сначала с низким рейтингом
                </span>
              </label>
            </div>
          </div>
          <div class="sorting__block">
            <h3 class="sorting__block-title text-16-bold">По скорости доставки</h3>
            <div class="sorting__block-list d-flex flex-column">
              <label class="sorting__label">
                <input type="radio" name="speed" class="sorting__input">
                <span class="sorting__radio"></span>
                <span class="sorting__text text-16">
                  Сначала с быстрой доставкой
                </span>
              </label>
              <label class="sorting__label">
                <input type="radio" name="speed" class="sorting__input">
                <span class="sorting__radio"></span>
                <span class="sorting__text text-16">
                  Сначала с медленной доставкой
                </span>
              </label>
            </div>
          </div>
          <div class="sorting__block">
            <h3 class="sorting__block-title text-16-bold">По минимальной сумме заказа</h3>
            <div class="sorting__block-list d-flex flex-column">
              <label class="sorting__label">
                <input type="radio" name="sum" class="sorting__input">
                <span class="sorting__radio"></span>
                <span class="sorting__text text-16">
                  Сначала с наименьшей минимальной суммой заказа
                </span>
              </label>
              <label class="sorting__label">
                <input type="radio" name="sum" class="sorting__input">
                <span class="sorting__radio"></span>
                <span class="sorting__text text-16">
                  Сначала с наибольшей минимальной суммой заказа
                </span>
              </label>
            </div>
          </div>
          <div class="sorting__block">
            <h3 class="sorting__block-title text-16-bold">По дороговизне</h3>
            <div class="sorting__block-list d-flex flex-column">
              <label class="sorting__label">
                <input type="radio" name="expensive" class="sorting__input">
                <span class="sorting__radio"></span>
                <span class="sorting__text text-16">
                  Сначала дорогие
                </span>
              </label>
              <label class="sorting__label">
                <input type="radio" name="expensive" class="sorting__input">
                <span class="sorting__radio"></span>
                <span class="sorting__text text-16">
                  Сначала недорогие
                </span>
              </label>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>