<section class="main-stock">
  <div class="custom-container container-fluid">
    <div class="main-stock__content">
      <h2 class="main-stock__title text-16-bold">
        Рестораны с <span class="main-stock__title-orange text-orange">акциями</span> и скидками
      </h2>
      <div class="main-stock__box d-flex flex-column">
        <div class="main-stock__block">
          <h3 class="main-stock__title-second text-16-medium">
            Акция <span class="text-orange">«1+1»</span>
          </h3>
          <div class="main-stock__swiper-1 swiper">
            <div class="main-stock__wrapper swiper-wrapper">
              <a href="stock.html" class="main-stock__slide swiper-slide">
                <div class="main-stock__slide-img">
                  <img src="./img/img.png">
                </div>
                <div class="main-stock__slide-name">
                  Длинное название ресторана
                </div>
              </a>
              <a href="stock.html" class="main-stock__slide swiper-slide">
                <div class="main-stock__slide-img">
                </div>
                <div class="main-stock__slide-name">
                  Название ресторана
                </div>
              </a>
              <a href="stock.html" class="main-stock__slide swiper-slide">
                <div class="main-stock__slide-img">
                </div>
                <div class="main-stock__slide-name">
                  Название
                </div>
              </a>
              <a href="stock.html" class="main-stock__slide swiper-slide">
                <div class="main-stock__slide-img">
                </div>
                <div class="main-stock__slide-name">
                  Длинное название ресторана
                </div>
              </a>
              <a href="stock.html" class="main-stock__slide swiper-slide">
                <div class="main-stock__slide-img">
                </div>
                <div class="main-stock__slide-name">
                  Длинное название ресторана
                </div>
              </a>
              <a href="stock.html" class="main-stock__slide swiper-slide">
                <div class="main-stock__slide-img">
                </div>
                <div class="main-stock__slide-name">
                  Длинное название ресторана
                </div>
              </a>
              <a href="stock.html" class="main-stock__slide swiper-slide">
                <div class="main-stock__slide-img">
                  <img src="./img/img.png">
                </div>
                <div class="main-stock__slide-name">
                  Длинное название ресторана
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="main-stock__block">
          <h3 class="main-stock__title-second text-16-medium">
            Акция <span class="text-orange">«Блюдо в подарок»</span>
          </h3>
          <div class="main-stock__swiper-2 swiper">
            <div class="main-stock__wrapper swiper-wrapper">
              <a href="stock.html" class="main-stock__slide swiper-slide">
                <div class="main-stock__slide-img">
                  <img src="./img/img.png">
                </div>
                <div class="main-stock__slide-name">
                  Длинное название ресторана
                </div>
              </a>
              <a href="stock.html" class="main-stock__slide swiper-slide">
                <div class="main-stock__slide-img">
                </div>
                <div class="main-stock__slide-name">
                  Название ресторана
                </div>
              </a>
              <a href="stock.html" class="main-stock__slide swiper-slide">
                <div class="main-stock__slide-img">
                </div>
                <div class="main-stock__slide-name">
                  Название
                </div>
              </a>
              <a href="stock.html" class="main-stock__slide swiper-slide">
                <div class="main-stock__slide-img">
                </div>
                <div class="main-stock__slide-name">
                  Длинное название ресторана
                </div>
              </a>
              <a href="stock.html" class="main-stock__slide swiper-slide">
                <div class="main-stock__slide-img">
                </div>
                <div class="main-stock__slide-name">
                  Длинное название ресторана
                </div>
              </a>
              <a href="stock.html" class="main-stock__slide swiper-slide">
                <div class="main-stock__slide-img">
                </div>
                <div class="main-stock__slide-name">
                  Длинное название ресторана
                </div>
              </a>
              <a href="stock.html" class="main-stock__slide swiper-slide">
                <div class="main-stock__slide-img">
                  <img src="./img/img.png">
                </div>
                <div class="main-stock__slide-name">
                  Длинное название ресторана
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="main-stock__block">
          <h3 class="main-stock__title-second text-16-medium">
            Акция <span class="text-orange">«Повышенные баллы»</span>
          </h3>
          <div class="main-stock__swiper-3 swiper">
            <div class="main-stock__wrapper swiper-wrapper">
              <a href="stock.html" class="main-stock__slide swiper-slide">
                <div class="main-stock__slide-img">
                  <img src="./img/img.png">
                </div>
                <div class="main-stock__slide-name">
                  Длинное название ресторана
                </div>
              </a>
              <a href="stock.html" class="main-stock__slide swiper-slide">
                <div class="main-stock__slide-img">
                </div>
                <div class="main-stock__slide-name">
                  Название ресторана
                </div>
              </a>
              <a href="stock.html" class="main-stock__slide swiper-slide">
                <div class="main-stock__slide-img">
                </div>
                <div class="main-stock__slide-name">
                  Название
                </div>
              </a>
              <a href="stock.html" class="main-stock__slide swiper-slide">
                <div class="main-stock__slide-img">
                </div>
                <div class="main-stock__slide-name">
                  Длинное название ресторана
                </div>
              </a>
              <a href="stock.html" class="main-stock__slide swiper-slide">
                <div class="main-stock__slide-img">
                </div>
                <div class="main-stock__slide-name">
                  Длинное название ресторана
                </div>
              </a>
              <a href="stock.html" class="main-stock__slide swiper-slide">
                <div class="main-stock__slide-img">
                </div>
                <div class="main-stock__slide-name">
                  Длинное название ресторана
                </div>
              </a>
              <a href="stock.html" class="main-stock__slide swiper-slide">
                <div class="main-stock__slide-img">
                  <img src="./img/img.png">
                </div>
                <div class="main-stock__slide-name">
                  Длинное название ресторана
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="main-stock__block">
          <h3 class="main-stock__title-second text-16-bold">
            Подойдёт для <span class="text-orange">завтрака</span>
          </h3>
          <div class="main-stock__swiper-4 swiper">
            <div class="main-stock__wrapper swiper-wrapper">
              <div class="main-stock__slide-big swiper-slide">
                <div class="main-stock__slide-img">
                  <img src="./img/img.png">
                </div>
                <div class="main-stock__slide-name-big">
                  Длинное название ресторана
                </div>
              </div>
              <div class="main-stock__slide-big swiper-slide">
                <div class="main-stock__slide-img">
                </div>
                <div class="main-stock__slide-name-big">
                  Название ресторана
                </div>
              </div>
              <div class="main-stock__slide-big swiper-slide">
                <div class="main-stock__slide-img">
                </div>
                <div class="main-stock__slide-name-big">
                  Длинное название ресторана
                </div>
              </div>
              <div class="main-stock__slide-big swiper-slide">
                <div class="main-stock__slide-img">
                  <img src="./img/img.png">
                </div>
                <div class="main-stock__slide-name-big">
                  Длинное название ресторана
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-stock__block">
          <h3 class="main-stock__title-second text-16-bold">
            Ваши <span class="text-orange">любимые</span> рестораны
          </h3>
          <div class="main-stock__swiper-5 swiper">
            <div class="main-stock__wrapper swiper-wrapper">
              <div class="main-stock__slide-big swiper-slide">
                <div class="main-stock__slide-img">
                  <img src="./img/img.png">
                </div>
                <div class="main-stock__slide-name-big">
                  Длинное название ресторана
                </div>
              </div>
              <div class="main-stock__slide-big swiper-slide">
                <div class="main-stock__slide-img">
                </div>
                <div class="main-stock__slide-name-big">
                  Название ресторана
                </div>
              </div>
              <div class="main-stock__slide-big swiper-slide">
                <div class="main-stock__slide-img">
                </div>
                <div class="main-stock__slide-name-big">
                  Длинное название ресторана
                </div>
              </div>
              <div class="main-stock__slide-big swiper-slide">
                <div class="main-stock__slide-img">
                  <img src="./img/img.png">
                </div>
                <div class="main-stock__slide-name-big">
                  Длинное название ресторана
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>