<section class="main-stock">
  <div class="custom-container container-fluid">
    <div class="main-stock__content">
      <h2 class="main-stock__title text-16-bold">
        Рестораны с <span class="main-stock__title-orange text-orange">акциями</span> и скидками
      </h2>
      <div class="main-stock__box d-flex flex-column">
        <div class="main-stock__block">
          <h3 class="main-stock__title-second text-16-medium">
            Акция <span class="text-orange">«1+1»</span>
          </h3>
          <div class="main-stock__swiper js-swiper-init swiper">
            <div class="main-stock__wrapper swiper-wrapper">
              <a href="stock.html" class="swiper-slide card-restaurant">
                <div>
                  <img src="./img/img.png">
                  <div class="card-restaurant-close">
                    Закрыто
                    <br/>
                    до завтра
                  </div>
                </div>
                <div class="card-restaurant-name">
                  Длинное название ресторана
                </div>
              </a>
              <a href="stock.html" class="swiper-slide card-restaurant">
                <div>
                </div>
                <div class="card-restaurant-name">
                  Название ресторана
                </div>
              </a>
              <a href="stock.html" class="swiper-slide card-restaurant">
                <div>
                </div>
                <div class="card-restaurant-name">
                  Название
                </div>
              </a>
              <a href="stock.html" class="swiper-slide card-restaurant">
                <div>
                </div>
                <div class="card-restaurant-name">
                  Длинное название ресторана
                </div>
              </a>
              <a href="stock.html" class="swiper-slide card-restaurant">
                <div>
                </div>
                <div class="card-restaurant-name">
                  Длинное название ресторана
                </div>
              </a>
              <a href="stock.html" class="swiper-slide card-restaurant">
                <div>
                </div>
                <div class="card-restaurant-name">
                  Длинное название ресторана
                </div>
              </a>
              <a href="stock.html" class="swiper-slide card-restaurant">
                <div>
                  <img src="./img/img.png">
                </div>
                <div class="card-restaurant-name">
                  Длинное название ресторана
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="main-stock__block">
          <h3 class="main-stock__title-second text-16-medium">
            Акция <span class="text-orange">«Блюдо в подарок»</span>
          </h3>
          <div class="main-stock__swiper js-swiper-init swiper">
            <div class="main-stock__wrapper swiper-wrapper">
              <a href="stock.html" class="swiper-slide card-restaurant">
                <div>
                  <img src="./img/img.png">
                </div>
                <div class="card-restaurant-name">
                  Длинное название ресторана
                </div>
              </a>
              <a href="stock.html" class="swiper-slide card-restaurant">
                <div>
                </div>
                <div class="card-restaurant-name">
                  Название ресторана
                </div>
              </a>
              <a href="stock.html" class="swiper-slide card-restaurant">
                <div>
                </div>
                <div class="card-restaurant-name">
                  Название
                </div>
              </a>
              <a href="stock.html" class="swiper-slide card-restaurant">
                <div>
                </div>
                <div class="card-restaurant-name">
                  Длинное название ресторана
                </div>
              </a>
              <a href="stock.html" class="swiper-slide card-restaurant">
                <div>
                </div>
                <div class="card-restaurant-name">
                  Длинное название ресторана
                </div>
              </a>
              <a href="stock.html" class="swiper-slide card-restaurant">
                <div>
                </div>
                <div class="card-restaurant-name">
                  Длинное название ресторана
                </div>
              </a>
              <a href="stock.html" class="swiper-slide card-restaurant">
                <div>
                  <img src="./img/img.png">
                </div>
                <div class="card-restaurant-name">
                  Длинное название ресторана
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="main-stock__block">
          <h3 class="main-stock__title-second text-16-medium">
            Акция <span class="text-orange">«Повышенные баллы»</span>
          </h3>
          <div class="main-stock__swiper js-swiper-init swiper">
            <div class="main-stock__wrapper swiper-wrapper">
              <a href="stock.html" class="swiper-slide card-restaurant">
                <div>
                  <img src="./img/img.png">
                </div>
                <div class="card-restaurant-name">
                  Длинное название ресторана
                </div>
              </a>
              <a href="stock.html" class="swiper-slide card-restaurant">
                <div>
                </div>
                <div class="card-restaurant-name">
                  Название ресторана
                </div>
              </a>
              <a href="stock.html" class="swiper-slide card-restaurant">
                <div>
                </div>
                <div class="card-restaurant-name">
                  Название
                </div>
              </a>
              <a href="stock.html" class="swiper-slide card-restaurant">
                <div>
                </div>
                <div class="card-restaurant-name">
                  Длинное название ресторана
                </div>
              </a>
              <a href="stock.html" class="swiper-slide card-restaurant">
                <div>
                </div>
                <div class="card-restaurant-name">
                  Длинное название ресторана
                </div>
              </a>
              <a href="stock.html" class="swiper-slide card-restaurant">
                <div>
                </div>
                <div class="card-restaurant-name">
                  Длинное название ресторана
                </div>
              </a>
              <a href="stock.html" class="swiper-slide card-restaurant">
                <div>
                  <img src="./img/img.png">
                </div>
                <div class="card-restaurant-name">
                  Длинное название ресторана
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="main-stock__block">
          <h3 class="main-stock__title-second text-16-bold">
            Подойдёт для <span class="text-orange">завтрака</span>
          </h3>
          <div class="main-stock__swiper js-swiper-init swiper">
            <div class="main-stock__wrapper swiper-wrapper">
              <div class="card-restaurant-big swiper-slide">
                <div>
                  <img src="./img/img.png">
                </div>
                <div class="card-restaurant-big-name">
                  Длинное название ресторана
                </div>
              </div>
              <div class="card-restaurant-big swiper-slide">
                <div>
                </div>
                <div class="card-restaurant-big-name">
                  Название ресторана
                </div>
              </div>
              <div class="card-restaurant-big swiper-slide">
                <div>
                </div>
                <div class="card-restaurant-big-name">
                  Длинное название ресторана
                </div>
              </div>
              <div class="card-restaurant-big swiper-slide">
                <div>
                  <img src="./img/img.png">
                </div>
                <div class="card-restaurant-big-name">
                  Длинное название ресторана
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-stock__block">
          <h3 class="main-stock__title-second text-16-bold">
            Ваши <span class="text-orange">любимые</span> рестораны
          </h3>
          <div class="main-stock__swiper js-swiper-init swiper">
            <div class="main-stock__wrapper swiper-wrapper">
              <div class="card-restaurant-big swiper-slide">
                <div>
                  <img src="./img/img.png">
                  <div class="maim-stock__slide-close card-restaurant-big-close text-14">
                    Закрыто
                    <br/>
                    до завтра
                  </div>
                </div>
                <div class="card-restaurant-big-name">
                  Длинное название ресторана
                </div>
              </div>
              <div class="card-restaurant-big swiper-slide">
                <div>
                </div>
                <div class="card-restaurant-big-name">
                  Название ресторана
                </div>
              </div>
              <div class="card-restaurant-big swiper-slide">
                <div>
                </div>
                <div class="card-restaurant-big-name">
                  Длинное название ресторана
                </div>
              </div>
              <div class="card-restaurant-big swiper-slide">
                <div>
                  <img src="./img/img.png">
                </div>
                <div class="card-restaurant-big-name">
                  Длинное название ресторана
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>