.product-card {
  @include cardProduct(170px)
}

.product-card-dark {
  @include cardProductGeneral(170px);
  &-top {
    @include cardProductTop;
  }

  &-stock {
    @include cardProductStock;
  }

  &-img {
    @include cardProductImgDark;
  }

  &-bottom {
    @include cardProductBottom;
    height: auto;

    &-bottom {
      @include cardProductBottomBottom
    }
  }

  &-name {
    @include cardProductName;
  }

  &-info {
    @include cardProductInfo
  }

  &-weight {
    @include cardProductWeight;
  }
}

.product-card-mini {
  @include cardProduct(120px);

  &-name {
    -webkit-line-clamp: 1;
  }

  &-weight {
    font-size: var(--text-size-12);
  }
  &-price {
    font-size: var(--text-size-12);
    font-weight: var(--text-regular);
  }

  &-add {
    font-size: var(--text-size-12);
  }

  &-counter {
    button {
      width: 29px;
      height: 29px;
    }
  }
}

.product-card-general {
  @include cardProduct(100%);
  &-stock {
    @include cardProductStock;
  }

  &-img {
    @include cardProductImgDark;
  }
  &-add {
    font-size: var(--text-size-12);
  }
}

.card-restaurant {
  @include card(80px);

  &-name {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Ограничение на количество строк */
    -webkit-box-orient: vertical;
    font-size: var(--text-size-12);
    line-height: var(--text-height-121);
    font-weight: var(--text-regular);
  }

  &-close {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text-size-12);
    line-height: var(--text-height-121);
    font-weight: var(--text-regular);
    color: var(--white);
    background-color: #4F4F4FB2;
    border-radius: var(--radius-10);
  }
}

.card-restaurant-big {
  @include card(120px);
  &-name {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Ограничение на количество строк */
    -webkit-box-orient: vertical;
    font-size: var(--text-size-14);
    line-height: var(--text-height-121);
    font-weight: var(--text-regular);
  }

  &-close {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text-size-14);
    line-height: var(--text-height-121);
    font-weight: var(--text-regular);
    color: var(--white);
    background-color: #4F4F4FB2;
    border-radius: var(--radius-10);
  }
}